@import url(../Css/global.css);

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;
    margin-top: 3.6rem;
}

@media (max-width: 500px) { 
    .video-container {
        height: 25rem;
        margin: 18rem;
    }
}