

div {background-color: black;}
h1 {text-align: center; color: rgb(158, 81, 26); background-color: black; text-size-adjust: 35;}
h2 {text-align: center; color: chocolate; background-color: black;}
nav { color: white; background-color: black; text-align: center;}
p {color: white; text-align: center;}



